<nav class="navbar">
  <div class="logo">
    <a routerLink="/home">Kris App</a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/consultoria">Consultoría</a></li>
    <li><a routerLink="/asesoria-legal">Asesoría Legal</a></li>
    <li><a routerLink="/desarrollo-digital">Desarrollo Digital</a></li>
    <li><a routerLink="/marketing-empresarial">Marketing</a></li>
    <li><a routerLink="/contact">Contacto</a></li>
  </ul>

  <div class="menu-toggle">
    ☰
  </div>
</nav>